/* AboutOutsidePage.css */

.aboutoutsidecontainer-h1 {
  /* Styles for the title */
  color: #171F44; /* Example color */
  font-size: 4em; /* Example font size */
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  /* Add any other styles you want for the title */
}

.aboutoutsidecontainer-p {
  /* Styles for the paragraph */
  text-align: center;
  color: #171F44; /* Example color */
  font-size: 20px; /* Example font size */
  position: absolute;
  z-index: 1;
  top: 65%; /* Adjust the position as needed */
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  /* Add any other styles you want for the paragraph */
}
