/* LogInPage.css */

body {
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

.video-background-signup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(200px); /* Apply blur to the video background */
}

/* Add a class to the blurred content */
.blurred-content {
  filter: blur(200px); /* Apply blur to the other content */
}

/* Specify the styles for the login component container */
.signup-component-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the LoginComponent is above the blurred content */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
}

/* Specify the styles for other elements as needed */

.navbarlandpage {
  /* Add your styles for the navbar */
}

.mainscreenlandpage {
  /* Add your styles for the mainscreen */
}

.Loging-outside {
  /* Add your styles for the LoginComponent container */
}
